.btn_SelectorMunicipio{
    -fx-background-color: transparent;
    -fx-background-radius: 5;
}
.btn_Login:hover{
    -fx-background-color: #6a94ff;
}
.btn_Login{
    -fx-background-color:  #3346d4;
}
.btn_Simulacro{
    -fx-background-color: #e81a1a;
    -fx-background-radius: 5;
}
.btn_Simulacro:hover{
    -fx-background-color: #ff5252;
    -fx-background-radius: 5;
}
.btn_cerrar{
    -fx-background-color: #2b52a6;
}
.btn_cerrar:hover{
    -fx-background-color: #e81a1a;
}
.btn_minimizar{
    -fx-background-color: #2b52a6;
}
.btn_minimizar:hover{
    -fx-background-color: #3c70c1;
}
.btn_agregar_tabla_recursos{
    -fx-background-color: #141587;
    -fx-background-radius: 35;
}
.btn_agregar_tabla_recursos:hover{
    -fx-background-color: #308022;
    -fx-background-radius: 35;
}
.btn_actualizar_tabla_recursos{
    -fx-background-color: #141587;
    -fx-background-radius: 35;
}
.btn_actualizar_tabla_recursos:hover{
    -fx-background-color: #3c70c1;
    -fx-background-radius: 35;
}
.btn_subir_recurso_equipo{
    -fx-background-color: #141587;
    -fx-background-radius: 35;
}
.btn_subir_recurso_equipo:hover{
    -fx-background-color: #308022;
    -fx-background-radius: 35;
}